@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
        padding-bottom: 100px;
    }
    #theform, form {
        width: 90%;
        max-width: 100%;
    }
    .navbar {
        flex-direction: column;
        height: auto;
    }
    .nav-items {
        flex-direction: column;
    }
    .bottomNavbar {
        flex-direction: column;
        height: auto;
    }
    .bottomNavItems {
        flex-direction: column;
    }
}

div {
    flex-shrink: inherit;
    text-align: center;
    flex: 1;
}

.blocks {
    flex-shrink: inherit;
    text-align: left;
}

#theform {
    flex-shrink: inherit;
    flex: 1;
    padding: 20px;
    border-color: #000000;
    border-width: 5;
    position: relative;
    width: 50%;
    max-width: 400px;
    height: 100%;
    box-sizing: border-box;
    justify-content: center;
    display: inline-block;
}

#theleft {
    flex-shrink: inherit;
    flex: 1;
    float: left;
    padding-right: 20px;
    width: 100%;
    max-width: 600px;
}

#theright {
    flex-shrink: inherit;
    flex: 1;
    float: right;
    width: 100%;
    max-width: 600px;
}

#theform, #theright, #theleft {
    flex-shrink: inherit;
    width: 100%;
    max-width: 100%;
}

body {
    flex-shrink: inherit;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    position: relative;
    justify-content: center;
    align-items: center;
    font-family: 'DM Serif Display', serif;
    min-height: 100%;
}

body, html {
    flex-shrink: inherit;
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
}

.wrapper {
    flex-shrink: inherit;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding-bottom: 140px; 
    min-height: 100vh;
}

.content {
    flex-shrink: inherit;
    flex: 1;
}

h1, h2 {
    flex-shrink: inherit;
    margin-bottom: 20px;
}

#theresults {
    flex-shrink: inherit;
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    display: inline-block;
}

form {
    flex-shrink: inherit;
    flex: 1;
    background-image: url('../images/formBack.png');
    background-size: 100% 100%;
    background-position: center;
    padding: 20px;
    border: 2px solid black;
    position: relative;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    justify-content: center;
    display: inline-block;
}

table {
    flex-shrink: inherit;
    flex: 1;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: large;
}

table, th, td {
    flex-shrink: inherit;
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Gabarito', sans-serif;
}

td {
    flex-shrink: inherit;
    position: relative;
}

th {
    flex-shrink: inherit;
    background-image: url('../images/navBack.png');
    border: 1px solid black;
}

input, select {
    flex-shrink: inherit;
    flex: 1;
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 2px solid black;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type="submit"] {
    flex-shrink: inherit;
    flex: 1;
    background-image: url('../images/Button.png');
    background-size: 35% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: rgb(0, 0, 0); 
    text-align: center;
    line-height: normal;
    font-family: 'DM Serif Display', serif;
    font-size: medium;
    font-weight: bold;
    width: 100%;
    height: 100%;
}

.navbar {
    flex-shrink: inherit;
    background-image: url('../images/navBack.png');
    background-size: contain; 
    background-position: center;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-family: 'Gabarito', sans-serif;
    font-size: large;
    justify-content: space-between;
}

.login-title {
    flex-shrink: inherit;
    font-family: 'Gabarito', sans-serif;
    font-size: xx-large;
    text-decoration: underline;
    padding: 10px;
}

nav .logo {
    flex-shrink: inherit;
    height: 60px;
    width: auto;   
}

.nav-items {
    flex-shrink: inherit;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.nav-item {
    flex-shrink: inherit;
    display: inline-block;
    position: relative;
}

.nav-item > a {
    flex-shrink: inherit;
    color: #000000;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.nav-item:hover .dropdown {
    flex-shrink: inherit;
    display: block;
    color: #ff0fcb;
}

.navSearch {
    flex-shrink: inherit;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.searchIcon {
    flex-shrink: inherit;
    height: 30px;
    width: auto;  
    padding-right: 10px;
}

.searchBar {
    flex-shrink: inherit;
    height: 40px;
    width: auto;  
}

.bottomNavbar {
    flex-shrink: inherit;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    height: 140px;
    background-image: url('../images/NavBG.png');
    background-repeat: repeat-x;
    background-size: contain;
    background-position: bottom;
}

.bottomNavItems {
    flex-shrink: inherit;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px; 
}

.hgtcDiv {
    flex-shrink: inherit;
    padding-top: 25px;
    flex-grow: 1;
    position: absolute;
    right: 20px;
}

.bottomTextDiv {
    flex-shrink: inherit;
    padding-top: 20px;
    flex-grow: 1;
    position: absolute;
}

nav .topText {
    flex-shrink: inherit;
    padding-top: 20px;
    width: auto;
    height: 20px;
    max-width: 100%;
}

nav .bottomText {
    flex-shrink: inherit;
    padding-top: 50px;
    width: auto;
    height: 20px;
}

nav .hgtc {
    flex-shrink: inherit;
    width: auto;
    height: 60px;
}

nav .navBG {
    flex-shrink: inherit;
    height: 100%;
    width: auto;  
}

.dropdown {
    flex-shrink: inherit;
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 200px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown a {
    flex-shrink: inherit;
    color: rgb(0, 0, 0);
    padding: 10px;
    display: block;
    text-decoration: none;
}

.dropdown a:hover {
    flex-shrink: inherit;
    background-color: #ffafe7;
}

.decorative-image-container-CherryBlossom {
    flex-shrink: inherit;
    position: absolute; 
    bottom: 0;              
    left: 0;            
    width: 100%;       
    height: 100%;       
    z-index: -1; 
}

.decorative-image-CherryBlossom {
    flex-shrink: inherit;
    position: absolute;  
    bottom: 0;              
    left: 0;           
    width: 100%;       
    max-width: 400px;    
    height: auto;       
    z-index: -1;         
    margin: 0;           
}

.decorative-image-container-CherryBlossom2 {
    flex-shrink: inherit;
    position: absolute; 
    top: 0;              
    right: 0;            
    width: 100%;       
    height: 100%;       
    z-index: -1; 
}

.decorative-image-CherryBlossom2 {
    flex-shrink: inherit;
    position: absolute;  
    top: 0;              
    right: 0;           
    width: 100%;       
    max-width: 400px;    
    height: auto;       
    z-index: -1;         
    margin: 0;           
}